{{define "header"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <title></title>

</head>

<body>
  <div class="container-fluid col-12">
    {{end}} {{define "content"}} {{template "header"}}
    <div class="card-group">
      {{ range $key, $serie := . }}
      <div class="card" style="width: 22rem;">
        <div class="mh-100 mx-auto" style="width: 100px; height: 150px;">
          <img class="card-img-top img-thumbnail " src="{{$serie.Cover}}" alt="Card image cap">
        </div>
        <div class="card-block">
          <h4 class="card-title text-center">{{$serie.Name}}</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Staffel</th>
                <th>Folge</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {{ range $keyF, $was := .Folge }}
              {{if (index $serie.Folge $keyF).Gesehen}}
              <tr bgcolor="#009933">
              {{else}}
              <tr>
              {{end}}
                <td>{{(index $serie.Folge $keyF).Staffel}}</td>
                <td>{{(index $serie.Folge $keyF).Nummer}}</td>
                <td>{{(index $serie.Folge $keyF).FolgenName}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
      {{end}} {{template "footer"}} {{end}} {{define "footer"}}
    </div>
    <form action="/suchen" method="POST">
      <input type="text" class="form-control" name="name" placeholder="Serien">
  <button  type="submit" class="btn btn-primary">Suchen</button>
  </form>
</body>
</html>
{{end}}

{{define "addentry"}} {{template "header"}}
<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="name">Name</span>
</div>
<div class="input-group">
<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
<span class="input-group-addon" id="image">image</span>
</div>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="image">image</span>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="image">image</span>
    </div>

</div>
</body>
</html>
{{end}}